# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
*.so
*.dylib

# Virtual environments
venv/
.env/
.env.*

# Data
# data/
runs/

# Jupyter
.ipynb_checkpoints/

# PyTorch checkpoints
*.pth
*.pt

# VS Code
.vscode/

# Mac/Linux hidden files
.DS_Store
